.command-type {
    background-color: goldenrod;
    color: black;
}


.detail-block {
    font-size: 14pt;
}

.detail {
    padding: 1pt;
    padding-left: 10pt;

    font-size: 11pt;
    background-color: white;
    color: black;
}

.detail-using {
    color: black;
    ---border-top: dotted lightslategray 1pt;
}

.detail-subs {
    color: lightslategray;
    border-top: dotted lightslategray 1pt;
    padding-left: 10pt;
    margin-top: 2pt;
}

.detail-values {
    color: lightslategray;
    border-top: dotted lightslategray 1pt;
}

.detail-expects {
    color: deepskyblue;
    border-top: dotted deepskyblue 1pt;
}

.detail-validators {
    color: darkorange;
    border-top: dotted darkorange 1pt;
}

.detail-dependences {
    color: red;
    border-top: dotted darkorange 1pt;
}

.detail-target {
    padding-left: 10pt;
    color: black;

}

.detail-events {
    color: darkolivegreen;
    border-top: dotted darkolivegreen 1pt;
}


.key-id {
    font-size: 8pt;
    letter-spacing: 1px;
    font-weight: bold;
    display: inline;
    vertical-align: 39%;
    font-family: 'Roboto Mono', monospace;
}
.key-ctype {
    font-weight: bold;
}

.key-signature {

}

.key-notes {
    background-color: #eeffee;
    color: lightslategray;
}

.key-settings, .key-boolean-true, .key-boolean-false {
    font-size: 8pt;
    padding: 2pt;
    padding-left: 6pt;
    padding-right: 6pt;
    margin-bottom: 1pt;
    margin-right: 1pt;
    background-color: lightslategray;
    color: white;
    display: inline;
    text-transform: uppercase;
    border-radius: 8pt;
}

.key-boolean-true, .key-boolean-false {
    border-radius: 50%;
    border: solid lightslategray 2pt;
    padding: 1pt;
    padding-left: 3pt;
    padding-right: 3pt;
    vertical-align: middle;

}

.key-boolean-false {
    background-color: white;
    color: lightslategray;
}

