
body {
    margin: 0pt;
}

#right {
    padding: 7pt;
    float: right;
    display: table-column;
    width: 25%;
    height: 100vh;
    background-color: black;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

#left {
    padding: 7pt;
    float: left;
    display: table-column;
}

#usings {
    padding: 30pt;
}

.signature {
    padding: 1pt;
}

.signature:hover {
    color: black;
    background-color: goldenrod;
}

.tomato {
    font-size: 19pt;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu {
    font-size: 14pt;
    color: lightslategrey;
}

.cmds {
    font-size: 11pt;
    -font-family: 'Share Tech Mono', monospace;
}

.command {
    color: white;
}

.container, .iface-container {
    color: orange;
}

.candidate, .candidate-container {
    color: lightslategrey;
}

.class, .mirror {
    color: deepskyblue;
}

.the-ring {
    border-style: solid;
    border-width: 2pt;
    border-radius: 50%;
    display: inline-block;
    padding: 0pt;
    margin: 0pt;
    width: 0.75em;
    height: 0.75em;

    text-align: center;
}

.use {
    font-size: 11pt;
    padding-left: 5pt;
    font-family: 'Share Tech Mono', monospace;
}

.use:hover {
    color: black;
    background-color: goldenrod;
}

.using-table {
    border-left: lightpink solid 1pt;
}

.detail-window {

    padding: 5pt;
    padding-left: 10pt;

    border-left: solid black 1pt;
    border-bottom: solid black 1pt;

    font-size: 11pt;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: white;
    color: black;
    display: block;
    position: absolute;

    top: 0pt;
    right: 27%;
    width: 25%;

    z-index: 4;

    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.usings-window {

    padding: 5pt;
    padding-left: 10pt;

    border-left: solid black 1pt;
    border-bottom: solid black 1pt;

    font-size: 11pt;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: white;
    color: black;
    display: block;
    position: absolute;

    top: 0pt;
    right: 27%;
    width: 35%;

    z-index: 4;
}

.editor-window {
    display: block;
    position: absolute;
    top: 0pt;
    left: 300pt;
    width: 400pt;
    height: auto;
    z-index: 3;
}



