
body {
    margin: 0pt;

    -ms-overflow-style: -ms-autohiding-scrollbar;

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

#right {
    padding: 7pt;
    float: right;
    display: table-column;
    width: 21%;
    height: 99vh;
    background-color: black;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

#left {
    padding: 7pt;
    float: left;
    display: table-column;
    width: 74%;
    height:99vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#usings {
    padding: 30pt;
}

.signature {
    padding: 1pt;
}

.signature:hover {
    color: black;
    background-color: goldenrod;
}

.tomato {
    font-size: 19pt;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu {
    font-size: 14pt;
    color: lightslategrey;
}

.cmds {
    font-size: 11pt;
}

.command {
    color: white;
}

.container, .iface-container {
    color: orange;
}

.candidate, .candidate-container {
    color: #888888;
}

.class, .mirror {
    color: lightslategrey;
}

.the-ring {
    border-style: solid;
    border-width: 2pt;
    border-radius: 50%;
    display: inline-block;
    padding: 0pt;
    margin: 0pt;
    width: 0.75em;
    height: 0.75em;

    text-align: center;
}

.use {
    font-size: 9pt;
    padding-left: 5pt;
    padding-bottom: 1pt;
    font-family: 'Roboto Mono', monospace;
    border-bottom: solid #f6f6f6 1pt;
}

.use:hover {
    color: white;
    background-color: lightslategrey;
}

.using-table {
    border-left: lightslategrey solid 1pt;
}

.detail-window {

    padding: 5pt;
    padding-left: 10pt;

    border-left: solid black 1pt;
    border-bottom: solid black 1pt;

    font-size: 11pt;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: white;
    color: black;
    display: block;
    position: absolute;

    top: 0pt;
    right: 23%;
    width: 35%;

    z-index: 4;

    max-height: 99vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.usings-window {

    padding: 5pt;
    padding-left: 10pt;

    border-left: solid black 1pt;
    border-bottom: solid black 1pt;

    font-size: 11pt;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: white;
    color: black;
    display: block;
    position: absolute;

    top: 0pt;
    right: 23%;
    width: 35%;

    max-height: 99vh;
    overflow-y: auto;
    overflow-x: hidden;

    z-index: 4;
}

.editor-window {
    display: block;
    position: absolute;
    top: 0pt;
    left: 300pt;
    width: 400pt;
    height: auto;
    z-index: 3;
}

::-webkit-scrollbar { width: 5pt; height: 3pt;}

::-webkit-scrollbar-button {  background-color: transparent; }

::-webkit-scrollbar-track {  background-color: transparent;}

::-webkit-scrollbar-track-piece { background-color: transparent;}

::-webkit-scrollbar-thumb { height: 20pt; background-color: whitesmoke; border-radius: 5pt;}

::-webkit-scrollbar-corner { background-color: transparent;}

::-webkit-resizer { background-color: transparent;}



